@import "tailwindcss";

@layer base {
  body {
    background-color: #faf8f5;
    color: #0f172a;
  }
}

/* Custom smooth scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #faf8f5;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9e1b24;
}
